body {
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

.App {
	text-align: center;
}

td .fields {
	display: flex;
}

div .editmode {
	margin: 15px;
}
div .editmode input {
	float: right;
}

.editmode form .fields {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 20px;
}

.clickable {
	cursor: pointer;
}
